@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'secondaryFont';
  src: url('./assets/Mont-Heavy.otf');
}

h1,
h2,
h3 {
  font-family: 'secondaryFont';
}

h2 {
  font-size: 1.8rem;
}

body {
  background-color: #1b1b1b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 74px;
}

#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#main {
  flex-grow: 1;
}

input[type='file'] {
  display: none;
}

.labelForInput {
  background-color: #232323;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 20px;
  color: #faf9f5;
  width: fit-content;
}

.labelForInput:hover {
  background-color: #5a2c81;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow {
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.2);
}
